/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, nav_menu, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
nav_menu, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fonts***********************************************************************************/
@font-face{
font-family: "Alternate Gothic No 2 BT";
src: url(Alternate-Gothic-No-2-BT_3209.ttf);		
}
@font-face{
font-family: "MyriadPro";
src: url(MyriadPro-Regular.otf);		
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
/*body***********************************************************************************/
body{
overflow-y: scroll;
}
/*header*********************************************************************************/
.navbar-wrapper{
background-color: #333333;
}
.container-fluid{
padding:0;
}
.info{
justify-content: flex-start;
}
.logo{
display: inline-block;
float: left;
width: 80px; 
height: 80px;
margin: 10px;
}
.call{
display: inline-block;
margin-bottom: 10px;
text-decoration: none;
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 300;
color: #12aaeb;
border-bottom: 1px dashed #12aaeb;
transition: background-color 400ms cubic-bezier(0.215, 0.61, 0.355, 1), color 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.call:hover{
text-decoration: none;
color: #fff;
border-bottom: 1px dashed #fff;
}
.phone{
display: inline-block;
margin-bottom: 10px;	
text-decoration: none;
font-family: 'Lato', sans-serif;
font-size: 17px;
font-weight: 300;
color: #fff;
border-bottom: 1px solid #fff;
}
.phone:hover{
text-decoration: none;
color: #12aaeb;
border-bottom: 1px solid #12aaeb;
}
.information{
float: right;
color: #fff;
font-family: 'Lato', sans-serif;
font-size: 17px;
font-weight: 300;
max-width: 300px;
text-align: justify;
}
.title{
font-weight: 700;
color: #12aaeb;
}
/*menu************************************************************************************************************/
.navbar-static-top{
z-index: 18;
}
.navbar-toggle{
background-color: #12aaeb;
border-color: #fff;
}
.navbar-toggle .icon-bar{
background-color: #fff;
}
.navbar-toggle:hover{
background-color: #fff;
}
.navbar-toggle:hover .icon-bar{
background-color: #12aaeb;
}
.navbar-nav>li>a {
font-family: 'Lato', sans-serif;
font-size: 17px;
color: #fff;
border-bottom: 1px solid #12aaeb;
padding-top: 17px;
padding-bottom: 13px;
}
.navbar-nav>li>a:hover{
color: #12aaeb;
background-color: #fff;
}
.navbar-nav>li>a:focus{
color: #12aaeb;
background-color: #fff;
}
#block-search{
display: inline-block;
float: right;
width: 300px;
position: relative;
margin: 13px 0 0 0;
}
#block-search input#input-search{
width: 100%;
padding-left: 10px;
height: 26px;
border: none;
border-radius: 36px;
color: #12aaeb;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 17px;
cursor: text;
outline: none;
}
#block-search input#button-search{
box-sizing: border-box;
position: absolute; 
top: 3px;
right: 8px;
width: 20px;
height: 20px;
outline: none;
border: none;
background: url(../img/search.png);
background-size: 20px;
}
/*ordering********************************************************************************************************/
.ordering{
background-image: url(../img/tech01prog.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: auto;
height: 743px;
width: auto;
text-align: center;
margin-bottom: 15px;
}
.ordering>h1,.selling>h1{
font-family: 'Lato', sans-serif;
margin-top: 50px;
color: #333333;
font-size: 40px;
font-weight: 700;
border: none;
}
hr{
border-top: 2px solid #333333;
}
.ordering>h2,.selling>h2{
font-weight: 300;
font-family: 'Lato', sans-serif;
color: #333333;
font-size: 22px;
}
.button01{
display: block;
margin: 50px auto;
text-align: center;
padding: 13px 0;
background: #12aaeb;
border: 3px solid #12aaeb;
border-radius: 36px;
color: #fff;
font-family: 'Lato', sans-serif;
font-weight: 700;
font-size: 18px;
cursor: pointer;
text-decoration: none!important;
transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
animation-delay: 0.2s;
}
.button01:after {
content: '\203A';
margin-left: 10px;
}
.button01:hover{
color: #12aaeb!important;
background: transparent;
transition: .2s;
zoom: 0;
}
/*selling***********************************************************************************/
.selling{
text-align: center;
}
/*sprites***********************************************************************************/
.container.advantages ul{
display: flex;
flex-flow: row;
justify-content: space-around;
align-items: flex-start;
}
.container.advantages li{
display: flex;
flex-flow: column;
justify-content: flex-start;
align-items: center;
font-weight: 300;
font-family: 'Lato', sans-serif;
color: #333333;
text-align: center;
font-size: 16px;
max-width: 120px; 
}
.container.advantages li a{
margin-bottom: 10px;
display: block;
width: 64px;
height: 64px;
background: url('../img/sprites.png') ;
background-position: 64px 0;
transition: all 0.5s ease;
cursor: default;
}
.container.advantages>ul li+li a{
background-position: -65px 0px;}
.container.advantages>ul li+li+li a{
background-position: 1px 0px;}
}
/*compare**********************************************************************************************************/
.compare>ul{
display: inline-block;
}
.compare>ul>li{
margin-bottom: 5px;
}
.compare>ul>li:last-child{
margin-bottom: 0;
}
.compare{
display: flex;
flex-flow: row;
justify-content: space-around;
align-items: flex-start;
text-align: left;
font-weight: 300;
font-family: 'Lato', sans-serif;
color: #333333;
font-size: 22px;
}
.comparison{
color: #12aaeb; 
font-weight: 700; 
margin: 0 0 10px 10px;	
font-weight: 24px;
}
/*location**************************************************************************************************************/
.location{
display: flex;
flex-flow: row;
justify-content: space-around;
align-items: center;
}
#map{
height: 350px;
width: 100%;
max-width: 400px;
border: 5px outset #12aaeb;
}
.address>ul>li>span{
font-weight: 700;
font-family: 'Lato', sans-serif;
color: #333333;
font-size: 17px;
}
.address>ul>li, .address>ul>li>a{
font-weight: 400;
font-family: 'Lato', sans-serif;
color: #333333;
font-size: 17px;
margin-bottom: 10px;
max-width: 300px;
}
.address>ul>li:last-child{
margin-bottom: 0;
text-align: justify;
}
.address>ul>li:nth-child(4){
margin-bottom: 20px;
}
.address>ul>li>a:focus{
text-decoration: none;
}
.address>ul>li>a:hover{
text-decoration: none;	
}
/*merchandise******************************************************************************************************/
.merchandise{
display: flex;
flex-flow: row;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 20px;
}
.merchandise:before{
display: none;
}
.merchandise:after{
display: none;
}
/*merchandise_block-body*******************************************************************************************/
#block-body{
box-sizing: border-box;
width: 69%;
height: 900px;
border: 1px solid #12aaeb;
}
/*merchandise_block-category***************************************************************************************/
#block-category{
width: 30%;
height: auto;
}
#block-category ul{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
#block-category a{
  text-decoration: none;
}
#block-category h2{
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin: 10px auto;
  color: #333333;
}
.accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 0 auto 20px;
  background: #12aaeb;
  border-radius: 4px;
}
.accordion-menu li.open .dropdownlink {
  color: #333333;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.dropdownlink svg {
  position: absolute;
  top: 17px;
  left: 16px;
  margin-right: 10px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}
.submenuItems {
  display: none;
  background: #fff;
}
.submenuItems li {
  border-bottom: 1px solid #B6B6B6;
}
.submenuItems a {
  display: block;
  color: #12aaeb;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #333333;
  color: #fff;
}
.nav-overlay{
  background-color: rgba(0, 0, 0, .75);
  box-sizing: content-box;
  height: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19;
}
.nav-overlay.visible {
  cursor: pointer;
  height: 100%;
  opacity: 1;
}
/*footer***********************************************************************************************************/
.footer>.container{
margin-top: 50px;
}
.developers{
display: inline-block;
font-family: 'Lato', sans-serif;
color: #fff;
font-size: 14px;
margin: 10px 0;
}
/*media************************************************************************************************************/
@media (max-width: 768px){
#block-search{
float: left;
}
#block-body{
width: 100%;
}
#block-category{
height: 100%;
position: fixed;
width: 285px;
z-index: 20;
top: 0;
right: -285px;
overflow: hidden;
background-color: green;
}
@media (max-width: 670px){
.location{
flex-flow: column-reverse;
justify-content: space-between;
align-items: center;
}
.address{
margin-top: 20px;
}
.info{
justify-content: center;
text-align: center;
}
.logo{
float: none;
display: block;
width: auto;
text-align: center;
}
.about{
float: none;
display: block;
max-width: none;
width: auto;
text-align: center;
}
.information{
max-width: 100%;
}
@media (max-width: 630px){
.compare{
flex-flow: column;
justify-content: space-between;
align-items: center;
}
.compare>ul{
min-width: 300px;
}
.comparison{
margin: 10px 0 10px 10px;
}
/****************************************************************************************************************/
